<br><br><%= render 'layouts/header' %>

<h2>Sign In</h2>

<div class="ui container">
  <div class='ui form'>
    <div class='fields'>
      <%= form_for(:session, url: login_path) do |f| %>

      <div class='field'>
        <%= f.label :email %>
        <div class='ui left icon input'>
          <%= f.email_field :email %>
          <i class="mail icon"></i>
        </div>
      </div>

      <div class='field'>
        <%= f.label :password %>
        <div class='ui left icon input'>
          <%= f.password_field :password %>
          <i class="lock icon"></i>
        </div>
      </div><br>

        <%= f.submit "OK", class: "ui button" %>
      <% end %>
    </div>
  </div>
</div>
