<h2>Log in</h2>

<div class="ui container">
  <div class='ui form'>
    <div class='fields'>
      <%= form_for(:session, url: login_path) do |f| %>

      <div class='field'>
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div class='field'>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div><br>

        <%= f.submit "Log in", class: "ui button" %>
      <% end %>
    </div>
  </div>
</div>
