<div class='ui container'>
  <%= render 'layouts/header' %>

  <h2 class='ui centered header'>Edit Entry</h2>


  <div class='ui form edit-entry'>
    <div class='fields'>
      <%= form_for :entry, method: :patch, url: {action: 'update'}, :html => {:class => "align-form"} do |f| %>
        <%= f.hidden_field :user_id %>

        <%= image_tag(@entry.avatar.url(:large), class: 'shadow ui centered rounded image') %>

        <div class="field">
          <%= f.label :caption %>
          <div class='ui left icon input'>
            <%= f.text_field :caption %>
            <i class="talk outline icon"></i>
          </div>
        </div>

        <div class="field">
          <%= f.label :location %>
          <div class='ui left icon input'>
            <%= f.text_field :location %>
            <i class="location arrow icon"></i>
          </div>
        </div><br>

        <div class="actions">
          <%= f.submit "OK", class: "ui button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
