<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<%= link_to edit_user_path(@user) do %>
  <i class="edit large icon"></i>
<% end %>

<%= link_to @user, method: :delete do %>
  <i class="trash large icon"></i>
<% end %>
<%= link_to 'Back', users_path, class: 'ui button' %>
