<br><% if logged_in? %>
  <div class='ui secondary menu'>
    <%= link_to entries_path do %>
      <div class='link item'><i class="grid layout large icon"></i></div>
    <% end %>
    <%= link_to current_user do %>
      <div class='link item'><i class="user large icon"></i></div>
    <% end %>
    <%= link_to new_entry_path(current_user) do %>
      <div class='link item'><i class="plus large icon"></i></div>
    <% end %>
    <%= link_to current_user do %>
      <div class='link item'><i class="bookmark large icon"></i></div>
    <% end %>
    <%= link_to logout_path, method: "delete" do %>
      <div class='link item'><i class="sign out large icon"></i></div>
    <% end %>
  </div>
<% end %>

<h1 class='ui center aligned header'>
  <%= link_to root_path do %>
    Stellar
  <% end %>
</h1>
